--threads:on
--mm:arc
--panics:on
--exceptions:goto
--warning[UnreachableCode]=off
#--define:leastQueue=none
#--define:leastThreads=12
#--define:leastKeepAlive=off
#--define:leastRecycle=off
#--define:leastAddress="127.1"
#--define:leastPort=8080
#--define:leastDebug=off
